:root{
    --color-primario : black;
    --color-secundario: white;
    --color-letra: white;
    --color-letra-secundaria: red;
}
.logo-img img{
    width: 60px;
    height: auto;
    background-color: aliceblue;
    padding: 3px;
    border-radius: 50%;
    margin-left: 20px;
}

.nav-item a{
    color: whitesmoke;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: var(--color-secundario);
}
.nav-link:hover{
    color: var(--color-secundario); !important
}